<h2>Sample terms and conditions.</h2>
<h3>Change them according to your needs</h3>
<p>This policy explains how we will use personal information collected through this site.</p>
<h3>Collection of personal information</h3>
<p>You may choose to provide us with your personal information on some pages of the website, for example when you complete an enquiry form.</p>
<p>When you submit personal information, you consent to our use of the information as set out in these terms and conditions.</p>
<h3>Use of personal information</h3>
<p>
	We shall use any personal information you give to us in accordance with these terms and conditions,
	and with any additional statements appearing on forms used for submitting your personal information.
	We shall not disclose your personal information to any third parties without obtaining your prior consent unless we are required by law to do so.
	In particular, if you submit an enquiry, we shall use your personal information to administer and respond to your enquiry.
	We shall securely store the information you supply and the response we provide.
</p>
<h3>Cookies and IP logging </h3>
<p>
	This website uses cookies. A cookie is a piece of data that may be stored on your computer when you visit a website.
	When you visit our website, our server will store a cookie on your computer.
</p>
<p>
	This cookie will be used to record the pages you visit on our website.
	We will use this information to analyse the way our site is used, and to administer and improve the accessibility of our site.
	We will not use it for identify individuals or for any other purpose.
</p>
<p>You may disable the use of cookies in your Internet browser without affecting your use of this website.</p>
<h3>Links</h3>
<p>This website contains links to other sites.</p>
<p>
	We are not responsible for the privacy practices of third parties that run any other websites.
	Please refer to their own privacy policies for more information.
</p>
