@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.box,
#gk-content {
  -webkit-animation: show 0.6s ease-in;
  -moz-animation: show 0.6s ease-in;
  -o-animation: show 0.6s ease-in;
  animation: show 0.6s ease-in;
}
#gk-mainbody-bottom {
  clear: left;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}
.link-icon {
  margin-top: 10px;
  margin-bottom: 10px;
}
.link-icon .link-icon-content {
  font-size: 1.1em;
  min-height: 80px;
  border-left: 4px solid #C59D56;
  text-align: left;
}
.link-icon .link-icon-content:hover {
  border-left-color: #C40722;
  -webkit-transition: border 200ms ease-in;
  -moz-transition: border 200ms ease-in;
  -o-transition: border 200ms ease-in;
  transition: border 200ms ease-in;
}
.link-icon .link-icon-content a {
  display: block;
  width: 100%;
  height: 100%;
}
.link-icon .link-icon-content a:hover {
  color: #c40722;
  -webkit-transition: color 200ms ease-in;
  -moz-transition: color 200ms ease-in;
  -ms-transition: color 200ms ease-in;
  -o-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
}
.link-icon .link-icon-content a span {
  padding: 10px;
  display: inline-block;
}
#gk-main {
  padding-top: 25px;
  padding-bottom: 25px;
}
.controls .modal {
  position: inherit;
  float: left;
}
.subheading-category,
.blog .page-header h1 {
  font-weight: 400;
}
.gk-article .pull-left img {
  padding-right: 15px;
  padding-top: 10px;
}
.organigrama .blue {
  box-shadow: 2px 2px 2px #aaa;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 5px;
}
.organigrama p,
.organigrama h3 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 0;
}
.contacto h3:first-of-type {
  display: none;
}
.pantalla-dividida ul li {
  text-align: left;
}
.gk-article ul {
  list-style-type: square;
  display: inline-block;
}
.gk-article ul.actions {
  list-style: outside none none;
}
.gk-article ul.actions li {
  float: left;
}
.gk-article ul.actions li a {
  clear: both;
  color: #333;
  display: block;
  font-weight: normal;
  line-height: 18px;
  padding: 3px 20px;
  white-space: nowrap;
}
.img-intro-left,
.img-intro-none {
  margin-left: 0 !important;
}
.margin-right-15 {
  margin-right: 15px;
  margin-top: 10px;
}
.create,
.published {
  display: none;
}
.article-info dd {
  padding-top: 4px;
}
.thumbnails {
  margin-left: -20px;
  list-style: none;
}
.row-fluid .thumbnails {
  margin-left: 0;
}
.thumbnails > li {
  float: left;
  margin-bottom: 18px;
  margin-left: 20px;
}
.thumbnail {
  display: block;
  padding: 4px;
  line-height: 18px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.055);
}
a.thumbnail:hover,
a.thumbnail:focus {
  box-shadow: 0 1px 4px rgba(0,105,214,0.25);
}
.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail .caption {
  padding: 9px;
  color: #666;
}
.gk-mainmenu-toggle {
  position: inherit;
}
@media (max-width: 1024px) {
  #bar-red {
    clear: right;
  }
  #bar-red #google_translate_element {
    clear: right;
  }
  #bar-red .bar-red {
    padding-top: 0px;
    clear: right;
  }
  .gk-main-menu > ul li.current > a,
  .gk-main-menu > ul li.active > a {
    border-bottom-width: 0;
  }
}
.ult-noticias li {
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .camera_caption > div {
    padding: 5px 20px;
  }
  .camera_caption > div p {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    height: 40px;
  }
  .camera_caption > div .slide-title {
    font-size: 20px;
  }
  .camera_wrap .camera_pag .camera_pag_ul li > span,
  .camera_wrap .camera_pag .camera_pag_ul li {
    width: 20px;
  }
}
@media (max-width: 480px) {
  h1.logo-text .text-1 {
    font-size: 0.6em;
  }
  .logo-us {
    padding-left: 10px;
  }
  #gk-logo img {
    max-width: 60px;
  }
}
@media (max-width: 340px) {
  h1.logo-text .text-1 {
    font-size: 0.6em;
  }
  .logo-us {
    padding-left: 10px;
  }
  #gk-logo img {
    max-width: 40px;
  }
}
.gk-article .article-header {
  margin-top: 15px;
}
div.arbolcontenidos li.active > ul.nav-child > li.active > ul.nav-child > li.active > 
ul.nav-child > li.active > ul.nav-child > li > a {
  padding-left: 75px;
}
.directorio ul li {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid #24A4D3;
  border-radius: 10px;
  margin-right: 5px;
}
.directorio ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.box ul li {
  margin-left: 10px;
  text-align: left;
}
.asignaturas .field-value {
  float: left;
  width: 100%;
}
.field-label {
  font-weight: bold;
}
.tags {
  float: right;
}
